---
import Event from "./Event.astro";
---

<div class="grid md:grid-cols-1 md:grid-rows-2 gap-4 mt-4">
    <Event 
        name="INDIE3"
        description="На презентации будут представлены более 180 инди игр от независимых разработчиков. Будут показаны как новые проекты, так и обновления уже вышедших игр."
        time="June 4, 2024 18:00 UTC+3"
        img="/img/indie3.jpg"
        youtube="https://www.youtube.com/@ClemmyGames"
        youtube_hide=""
        twitch=""
        twitch_hide="hidden"
    />
    <Event 
        name="OTK Games Expo"
        description="Популярных блогеры и стримеры прорекламирую кучу своего мерча и скорей всего даже покажут игры."
        time="June 4, 2024 22:00 UTC+3"
        img="/img/otk.jpg"
        youtube="https://www.youtube.com/otkchannel"
        youtube_hide=""
        twitch="https://www.twitch.tv/zackrawrr"
        twitch_hide=""
    />
    <Event 
        name="Guerilla Collective"
        description="В рамках мероприятия, посвящённого инди-играм, ожидаются анонсы, трейлеры, премьеры геймплея и возможно что-то еще."
        time="June 6, 2024 20:00 UTC+3"
        img="/img/guerrilla-collective-2024.jpg"
        youtube="https://www.youtube.com/c/MediaIndieExchange"
        youtube_hide=""
        twitch="https://www.twitch.tv/mediaindieexchange"
        twitch_hide=""
    />
    <Event 
        name="Summer Game Fest Showcase"
        description="Главное игровое событие лета — фестиваль Джеффа Кили, который традиционно радует зрителей громкими анонсами. Здесь можно увидеть трейлеры, геймплейные демонстрации, послушать выступления разработчиков и узнать о новых проектах."
        time="June 8, 2024 00:00 UTC+3"
        img="/img/sgf.jpg"
        youtube="https://www.youtube.com/@thegameawards"
        youtube_hide=""
        twitch="https://www.twitch.tv/thegameawards"
        twitch_hide=""
    />
    <Event 
        name="Day of the Devs"
        description="Double Fine Productions и iam8bit проводят презентацию инди- и среднебюджетных игр на фестивале Кили. На шоу представят лучшие проекты инди-сцены и самые перспективные разработки небольших студий."
        time="June 8, 2024 1:30 UTC+3"
        img="/img/dod.jpg"
        youtube="https://www.youtube.com/@Iam8bit"
        youtube_hide=""
        twitch=""
        twitch_hide="hidden"
    />
    <Event 
        name="Devolver Digital"
        description="Готовьтесь к самой безбашенной презентации лета! Организаторы обещают «абсолютно нормальный эфир», где, конечно же, «не произойдёт ничего странного». Лично я надеюсь увидеть дополнение для Katana ZERO."
        time="June 8, 2024 3:00 UTC+3"
        img="/img/dd.jpg"
        youtube="https://www.youtube.com/@DevolverDigital"
        youtube_hide=""
        twitch=""
        twitch_hide="hidden"
    />
    <Event 
        name="Future of Play Direct Season 5"
        description="Очередное шоу от инди-разработчиков, где нас ждут анонсы, трейлеры и витубер Melios the Android в роли ведущей. В программе — эксклюзивные анонсы от создателей Battle Chef Brigade, Parkitect, The Big Con, Unsighted и множество анонсов от других независимых студий."
        time="June 8, 2024 18:00 UTC+3"
        img="/img/Future-of-Play-Direct-Season-5.jpg"
        youtube="https://www.youtube.com/heyglitch"
        youtube_hide=""
        twitch="https://www.twitch.tv/twitchgaming"
        twitch_hide=""
    />
    <Event 
        name="Wholesome Direct"
        description="Вам мало инди? Тогда вот еще одно шоу посвященное играм с эмоциональной глубиной, которые вдохновляют оптимизмом, радостью и саморефлексией."
        time="June 8, 2024 19:00 UTC+3"
        img="/img/Wholesome-Direct.jpg"
        youtube="https://www.youtube.com/WholesomeGames"
        youtube_hide=""
        twitch="http://www.twitch.tv/wholesome_games"
        twitch_hide=""
    />
    <Event 
        name="Latin American Games Showcase"
        description="Более часа мировых премьер, эксклюзивных трейлеров и анонсов от латиноамериканских разработчиков игр!"
        time="June 8, 2024 20:00 UTC+3"
        img="/img/Latin-American-Games-Showcase.jpg"
        youtube="https://www.youtube.com/@lagshowcase"
        youtube_hide=""
        twitch="https://www.twitch.tv/lagshowcase"
        twitch_hide=""
    />
    <Event 
        name="Women-Led Games"
        description="Узнаем, что готовят студии под женским руководством! Эксклюзивные подробности и анонсы о дате выхода."
        time="June 8, 2024 21:30 UTC+3"
        img="/img/women-led-games.jpg"
        youtube="https://www.youtube.com/@Women-LedGames"
        youtube_hide=""
        twitch="https://www.twitch.tv/pcgamer"
        twitch_hide=""
    />
    <Event 
        name="Future Games Show: Summer Showcase"
        description="Презентации от GamesRadar, которая обещает поднять планку на новый уровень! Ожидается презентация более 40 игр."
        time="June 8, 2024 22:00 UTC+3"
        img="/img/Future-Games-Show-Summer-Showcase.jpg"
        youtube="https://www.youtube.com/watch?v=1jXmyz452hs"
        youtube_hide=""
        twitch="https://www.twitch.tv/gamesradar"
        twitch_hide=""
    />
    <Event 
        name="Xbox Games Showcase"
        description="В рамках мероприятия будут показаны игры от студий Microsoft, включая Activision, Blizzard, Bethesda и Xbox Game Studios, а также проекты от сторонних компаний. Так же расскажут и, надеюсь, покажут новую Колду."
        time="June 9, 2024 20:00 UTC+3"
        img="/img/xbox-direct.jpg"
        youtube="https://www.youtube.com/user/xbox/hub"
        youtube_hide=""
        twitch="https://www.twitch.tv/Xbox"
        twitch_hide=""
    />
    <Event 
        name="PC Gaming Show"
        description="PC Gamer уже в десятый раз организует свое собственное шоу посвященное играм. В честь этого юбилея обещают геймерам эксклюзивные анонсы и громкие мировые премьеры. Всего запланировано представить более 50 игр."
        time="June 9, 2024 23:00 UTC+3"
        img="/img/PC-Gaming-Show.jpg"
        youtube="https://www.youtube.com/pcgamer"
        youtube_hide=""
        twitch="https://www.twitch.tv/pcgamer"
        twitch_hide=""
    />
    <Event 
        name="Ubisoft Forward"
        description="Шоу от Ubisoft с новостями об играх, но пока официального списка проектов на презентации нет. Однако можно с уверенностью предположить, что нас ожидает новый трейлер Assassin’s Creed Shadows."
        time="June 10, 2024 0:01 UTC+3"
        notime="май 2024"
        img="/img/ubisoft-forward.jpg"
        youtube="https://www.youtube.com/channel/UC62IIuaPmV-KeuYmEaIZ0eQ"
        youtube_hide=""
        twitch="https://www.twitch.tv/ubisoft"
        twitch_hide=""
    />
    <Event 
        name="Nintendo Direct"
        description="«Большая N» собирается представить свои игры на очередной презентации. Пока известно только о демонстрации проектов для Nintendo Switch. А вот анонса Switch 2 ждать не стоит."
        time="Дата и время пока не известны"
        img="/img/nintendo-direct.jpg"
        youtube="https://www.youtube.com/@NintendoAmerica"
        youtube_hide=""
        twitch=""
        twitch_hide="hidden"
    />
</div>