---
import Event from "./Event.astro";
---

<div class="grid md:grid-cols-1 md:grid-rows-2 gap-4 mt-4">
    <Event 
        name="State of Play"
        description="На презентации Sony мы узнаем о 14 играх для PS5 и PS VR2, в том числе от внутренних студий. Особенно интересно будет послушать про игры, которые должны выйти в 2024 году."
        time=""
        img="/img/sop.jpg"
        youtube=""
        twitch=""
        nerds="https://tirednerds.com/events/chto-pokazali-na-majskom-state-of-play-2024/"
    />
    <Event 
        name="Silent Hill Transmission"
        description="На презентации будут новости об играх — возможно, Bloober Team наконец объявит дату выхода ремейка Silent Hill 2. Так же ждем трейлер и дату релиза фильма «Возвращение в Сайлент Хилл»."
        time=""
        img="/img/Silent-Hill-Transmission.jpg"
        youtube=""
        twitch=""
        nerds=""
    />
    <Event 
        name="INDIE3"
        description="На презентации будут представлены более 180 инди игр от независимых разработчиков. Будут показаны как новые проекты, так и обновления уже вышедших игр."
        time="2024-06-04T18:00:00+03:00"
        img="/img/indie3.jpg"
        youtube="https://youtu.be/acKDyXtGFA0?si=umlLHHx54L0MD1UU&t=900"
        twitch=""
        nerds="https://store.steampowered.com/curator/26397247/sale/BIGSummerShowcase2024"
    />
    <Event 
        name="OTK Games Expo"
        description="Популярные блогеры и стримеры будут рекламировать свой мерч и, возможно, даже покажут игры."
        time="2024-06-04T22:00:00+03:00"
        img="/img/otk.jpg"
        youtube=""
        twitch=""
        nerds="https://www.otkgamesexpo.com/games/years/2024"
    />
    <Event 
        name="Guerilla Collective"
        description="В рамках мероприятия, посвящённого инди-играм, ожидаются анонсы, трейлеры, премьеры геймплея и возможно что-то ещё."
        time="2024-06-06T20:00:00+03:00"
        img="/img/guerrilla-collective-2024.jpg"
        youtube="https://www.youtube.com/c/MediaIndieExchange"
        twitch="https://www.twitch.tv/mediaindieexchange"
        nerds=""
    />
    <Event 
        name="Summer Game Fest Showcase"
        description="Главное игровое событие лета — фестиваль Джеффа Кили, который традиционно радует зрителей громкими анонсами. Здесь можно увидеть трейлеры, геймплейные демонстрации, послушать выступления разработчиков и узнать о новых проектах."
        time="2024-06-08T00:00:00+03:00"
        img="/img/sgf.jpg"
        youtube="https://www.youtube.com/@thegameawards"
        twitch="https://www.twitch.tv/thegameawards"
        nerds=""
    />
    <Event 
        name="Day of the Devs"
        description="Double Fine Productions и iam8bit проводят презентацию инди- и среднебюджетных игр на фестивале Кили. На шоу представят лучшие проекты инди-сцены и самые перспективные разработки небольших студий."
        time="2024-06-08T01:30:00+03:00"
        img="/img/dod.jpg"
        youtube="https://www.youtube.com/@Iam8bit"
        twitch=""
        nerds=""
    />
    <Event 
        name="Devolver Digital"
        description="Готовьтесь к самой безбашенной презентации лета! Организаторы обещают «абсолютно нормальный эфир», где, конечно же, «не произойдёт ничего странного». Лично я надеюсь увидеть дополнение для Katana ZERO."
        time="2024-06-08T03:00:00+03:00"
        img="/img/dd.jpg"
        youtube="https://www.youtube.com/@DevolverDigital"
        twitch=""
        nerds=""
    />
</div>

<!-- 2024-06-08T00:00:00+03:00 год-месяц-числоTчас:минуты:секунды+часовой пояс-->