---
import Event from "./Event.astro";
---

<div class="grid md:grid-cols-1 md:grid-rows-2 gap-4 mt-4">
    <Event 
        name="THQ Nordic Digital Showcase"
        description="THQ Nordic готовит собственную презентацию. На шоу покажут ремейк Gothic и Titan Quest II, анонсированную в прошлом году. Также стоит ожидать новости о других продуктах издателя."
        time="2024-08-02T22:00:00+03:00"
        img="/img/thq-nordic-digital-showcase.jpg"
        youtube="https://www.youtube.com/thqnordic"
        twitch="https://www.twitch.tv/thqnordic"
        nerds=""
    />
    <Event 
        name="gamescom Opening Night Live"
        description="Одна из крупнейших офлайн-выставок индустрии традиционно начинается с церемонии открытия, которую будут транслировать в сети. Подробной программы пока нет, но офлайн-часть пройдёт с 21 по 25 августа."
        time="2024-08-20T21:00:00+03:00"
        img="/img/gamescom-opening-night-live.jpg"
        youtube="https://www.youtube.com/@gamescom1230"
        twitch=""
        nerds=""
    />
    <Event 
        name="PlayStation Showcase"
        description="Ждем новостей про PS5 Pro и анонса новых игр."
        time="Дата и время пока не известны"
        img="/img/playstation-showcase.jpg"
        youtube="https://www.youtube.com/@PlayStation"
        twitch=""
        nerds=""
    />
</div>

<!-- 2024-06-08T00:00:00+03:00 год-месяц-числоTчас:минуты:секунды+часовой пояс-->