---
import Event from "./Event.astro";
---

<div class="grid md:grid-cols-1 md:grid-rows-2 gap-4">
    <Event 
        name="INDIE3"
        description="Презентация инди-игр. Покажут более 180 игр от независимых разработчиков, включая Neko Odyssey. Этот список включает как новые проекты, так и обновления для уже вышедших."
        time="June 4, 2024 18:00 UTC+3"
        img="/img/indie3.jpg"
        youtube="https://www.youtube.com/@ClemmyGames"
        youtube_hide=""
        twitch=""
        twitch_hide="hidden"
    />
    <Event 
        name="OTK Games Expo"
        description="Шоу популярных блогеров и стримеров. По опыту прошлых лет — покажут много инди-игр и будут рекламировать свой мерч. Список развлечений не раскрывается."
        time="June 4, 2024 22:00 UTC+3"
        img="/img/otk.jpg"
        youtube="https://www.youtube.com/otkchannel"
        youtube_hide=""
        twitch="https://www.twitch.tv/zackrawrr"
        twitch_hide=""
    />
    <Event 
        name="Guerilla Collective"
        description="Шоу про инди-игры, ничего общего не имеющее с компанией Guerrilla Games. Обещают анонсы, трейлеры, премьеры геймплея и не только. Однако мероприятие до сих пор остаётся нишевым — громких вестей ждать не стоит."
        time="June 6, 2024 20:00 UTC+3"
        img="/img/guerrilla-collective-2024.jpg"
        youtube="https://www.youtube.com/c/MediaIndieExchange"
        youtube_hide=""
        twitch="https://www.twitch.tv/mediaindieexchange"
        twitch_hide=""
    />
    <Event 
        name="Summer Game Fest Showcase"
        description="Пожалуй, главное игровое шоу лета. Фестиваль Джеффа Кили (Geoff Keighley) традиционно дарит самые громкие анонсы Трейлеры, геймплей, выступления разработчиков и анонсы новых проектов."
        time="June 8, 2024 00:00 UTC+3"
        img="/img/sgf.jpg"
        youtube="https://www.youtube.com/@thegameawards"
        youtube_hide=""
        twitch="https://www.twitch.tv/thegameawards"
        twitch_hide=""
    />
    <Event 
        name="Day of the Devs"
        description="Презентация инди- и среднебюджетных игр, которую организуют Double Fine Productions и iam8bit в рамках фестиваля Кили. Шоу представляет сливки инди-сцены и самые перспективные проекты небольших студий."
        time="June 8, 2024 1:30 UTC+3"
        img="/img/dod.jpg"
        youtube="https://www.youtube.com/@Iam8bit"
        youtube_hide=""
        twitch=""
        twitch_hide="hidden"
    />
    <Event 
        name="Devolver Digital"
        description="Что это? Традиционно самая безбашенная презентация лета. В этом году организаторы обещают «абсолютно нормальный эфир», в рамках которого, конечно же, «не произойдёт ничего странного»."
        time="June 8, 2024 3:00 UTC+3"
        img="/img/dd.jpg"
        youtube="https://www.youtube.com/@DevolverDigital"
        youtube_hide=""
        twitch=""
        twitch_hide="hidden"
    />
    <Event 
        name="Future of Play Direct Season 5"
        description="Шоу от движения инди-разработчиков — с анонсами, трейлерами и витубером Melios the Android в качестве ведущей. Эксклюзивные анонсы от создателей таких проектов, как Battle Chef Brigade, Parkitect, The Big Con и Unsighted. Также заявлен ворох анонсов от других независимых студий."
        time="June 8, 2024 18:00 UTC+3"
        img="/img/Future-of-Play-Direct-Season-5.jpg"
        youtube="https://www.youtube.com/heyglitch"
        youtube_hide=""
        twitch="https://www.twitch.tv/twitchgaming"
        twitch_hide=""
    />
    <Event 
        name="Wholesome Direct"
        description="An indie showcase celebrating emotionally resonant video games that inspire optimism, joy, and introspection."
        time="June 8, 2024 19:00 UTC+3"
        img="/img/Wholesome-Direct.jpg"
        youtube="https://www.youtube.com/WholesomeGames"
        youtube_hide=""
        twitch="http://www.twitch.tv/wholesome_games"
        twitch_hide=""
    />
    <Event 
        name="Latin American Games Showcase"
        description="Over an hour of world premieres, exclusive trailers and announcements from Latin American game developers!"
        time="June 8, 2024 20:00 UTC+3"
        img="/img/Latin-American-Games-Showcase.jpg"
        youtube="https://www.youtube.com/@lagshowcase"
        youtube_hide=""
        twitch="https://www.twitch.tv/lagshowcase"
        twitch_hide=""
    />
    <Event 
        name="Women-Led Games"
        description="What's next from Women-Led studios, exclusive deep dives, and launch date announcements LIVE on YouTube, Twitch, and Steam!"
        time="June 8, 2024 21:30 UTC+3"
        img="/img/women-led-games.jpg"
        youtube="https://www.youtube.com/@Women-LedGames"
        youtube_hide=""
        twitch="https://www.twitch.tv/pcgamer"
        twitch_hide=""
    />
    <Event 
        name="Future Games Show: Summer Showcase"
        description="Презентация от GamesRadar, всё ещё не вышедшая за рамки «проходняка». В этом году организаторы обещают новый уровень. Ведущими шоу будут известные актёры озвучки: голос Артура Моргана из Red Dead Redemption 2 Роджер Кларк (Roger Clark) и голос Тифы Локхарт из Final Fantasy VII Rebirth Бритт Барон (Britt Baron). Покажут более 40 игр"
        time="June 8, 2024 22:00 UTC+3"
        img="/img/Future-Games-Show-Summer-Showcase.jpg"
        youtube="https://www.youtube.com/watch?v=1jXmyz452hs"
        youtube_hide=""
        twitch="https://www.twitch.tv/gamesradar"
        twitch_hide=""
    />
    <Event 
        name="Xbox Games Showcase"
        description="Microsoft продолжает традицию парных конференций. На этот раз шоу от Xbox идёт в тандеме с презентацией Call of Duty: Black Ops 6. В рамках шоу покажут игры от студий Microsoft, включая Activision, Blizzard, Bethesda и Xbox Game Studios. Будут игры и от сторонних компаний."
        time="June 9, 2024 20:00 UTC+3"
        img="/img/xbox-direct.jpg"
        youtube="https://www.youtube.com/user/xbox/hub"
        youtube_hide=""
        twitch="https://www.twitch.tv/Xbox"
        twitch_hide=""
    />
    <Event 
        name="PC Gaming Show"
        description="Уже в 10-й раз портал PC Gamer проведёт собственное шоу об играх, которые лучше всего раскрываются на персональных компьютерах или вовсе игнорируют консоли. В честь годовщины обещают подарить геймерам эксклюзивные анонсы и громкие мировые премьеры. Всего планируется представить свыше 50 игр."
        time="June 9, 2024 23:00 UTC+3"
        img="/img/PC-Gaming-Show.jpg"
        youtube="https://www.youtube.com/pcgamer"
        youtube_hide=""
        twitch="https://www.twitch.tv/pcgamer"
        twitch_hide=""
    />
    <Event 
        name="Ubisoft Forward"
        description="Шоу с новостями об играх Ubisoft, среди которых больше не хочется видеть AxAxAxA-релизов. Подтверждённого списка игр на презентации нет. Можно с уверенностью ожидать нового трейлера для недавно представленной Assassin’s Creed Shadows."
        time="June 10, 2024 0:01 UTC+3"
        notime="май 2024"
        img="/img/ubisoft-forward.jpg"
        youtube="https://www.youtube.com/channel/UC62IIuaPmV-KeuYmEaIZ0eQ"
        youtube_hide=""
        twitch="https://www.twitch.tv/ubisoft"
        twitch_hide=""
    />
    <Event 
        name="Nintendo Direct"
        description="Очередная презентация от «Большой N», посвящённая играм компании. Пока известно только о демонстрации игр для Nintendo Switch. А вот информации про следующую консоль не будет, несмотря на то что, по словам инсайдеров, разработчики уже вовсю используют девкиты Switch 2."
        time="Дата и время пока не известны"
        img="/img/nintendo-direct.jpg"
        youtube="https://www.youtube.com/@NintendoAmerica"
        youtube_hide=""
        twitch=""
        twitch_hide="hidden"
    />
</div>