---
import Event from "./Event.astro";
---

<div class="grid md:grid-cols-1 md:grid-rows-2 gap-4 mt-4">
    <Event 
        name="Capcom Next — Summer 2024"
        description="Шоу продолжительностью 25 минут, на котором представит подробности о новых играх. Однако, уже сообщено, что новостей о Monster Hunter Wilds, анонсированной в декабре прошлого года, на этом мероприятии не будет."
        time="2024-07-02T01:00:00+03:00"
        img="/img/capcom-next.jpg"
        nerds="https://www.youtube.com/watch?v=p7hiMS0Hct4"
    />
    <Event 
        name="Nintendo Direct"
        description="«Большая N» собирается представить свои игры на очередной презентации. Пока известно только о демонстрации проектов для Nintendo Switch. А вот анонса Switch 2 ждать не стоит."
        img="/img/nintendo-direct.jpg"
        nerds="https://tirednerds.com/events/chto-pokazali-na-iyunskom-nintendo-direct/"
    />
    <Event 
        name="Ubisoft Forward"
        description="Шоу от Ubisoft с новостями об играх, но пока официального списка проектов на презентации нет. Однако можно с уверенностью предположить, что нас ожидает новый трейлер Assassin’s Creed Shadows."
        img="/img/ubisoft-forward.jpg"
        nerds=""
    />
    <Event 
        name="WWDC 24"
        description="Ежегодная презентация от Apple, на которой компания должна показать очередные версии своих операционных систем, включая iOS 18, и новые устройства."
        img="/img/wwdc24.jpg"
        nerds="https://www.youtube.com/watch?v=Q_EYoV1kZWk"
    />
    <Event 
        name="PC Gaming Show"
        description="PC Gamer уже в десятый раз организует свое собственное шоу посвященное играм. В честь этого юбилея обещают геймерам эксклюзивные анонсы и громкие мировые премьеры. Всего запланировано представить более 50 игр."
        img="/img/PC-Gaming-Show.jpg"
        nerds="https://www.youtube.com/watch?v=AaZCdMPqT44"
    />
    <Event 
        name="Xbox Games Showcase"
        description="В рамках мероприятия будут показаны игры от студий Microsoft, включая Activision, Blizzard, Bethesda и Xbox Game Studios, а также проекты от сторонних компаний. Так же расскажут и, надеюсь, покажут новую Колду."
        img="/img/xbox-direct.jpg"
        nerds="https://www.youtube.com/playlist?list=PL0il2l-B_WwZmx_oaCNzMaKsEjMo517W0"
    />
    <Event 
        name="Future Games Show: Summer Showcase"
        description="Презентации от GamesRadar, которая обещает поднять планку на новый уровень! Ожидается презентация более 40 игр."
        img="/img/Future-Games-Show-Summer-Showcase.jpg"
        nerds="https://www.youtube.com/watch?v=1jXmyz452hs"
    />
    <Event 
        name="Women-Led Games"
        description="Узнаем, что готовят студии под женским руководством! Эксклюзивные подробности и анонсы о дате выхода."
        img="/img/women-led-games.jpg"
        nerds="https://youtu.be/Cqq9kzsX9RY"
    />
    <Event 
        name="Latin American Games Showcase"
        description="Более часа мировых премьер, эксклюзивных трейлеров и анонсов от латиноамериканских разработчиков игр!"
        img="/img/Latin-American-Games-Showcase.jpg"
        nerds="https://youtu.be/-wd9BAKpJTc"
    />
    <Event 
        name="Wholesome Direct"
        description="Вам мало инди? Тогда вот еще одно шоу посвященное играм с эмоциональной глубиной, которые вдохновляют оптимизмом, радостью и саморефлексией."
        img="/img/Wholesome-Direct.jpg"
        nerds="https://youtu.be/ocV4LvEYJcg"
    />
    <Event 
        name="Future of Play Direct Season 5"
        description="Очередное шоу от инди-разработчиков, где нас ждут анонсы, трейлеры и витубер Melios the Android в роли ведущей. В программе — эксклюзивные анонсы от создателей Battle Chef Brigade, Parkitect, The Big Con, Unsighted и множество анонсов от других независимых студий."
        img="/img/Future-of-Play-Direct-Season-5.jpg"
        nerds="https://youtu.be/TasHx1DffhY"
    />
    <Event 
        name="Devolver Digital"
        description="Готовьтесь к самой безбашенной презентации лета! Организаторы обещают «абсолютно нормальный эфир», где, конечно же, «не произойдёт ничего странного». Лично я надеюсь увидеть дополнение для Katana ZERO."
        img="/img/dd.jpg"
        nerds="https://www.youtube.com/watch?v=grPyibmw62A"
    />
    <Event 
        name="Day of the Devs"
        description="Double Fine Productions и iam8bit проводят презентацию инди- и среднебюджетных игр на фестивале Кили. На шоу представят лучшие проекты инди-сцены и самые перспективные разработки небольших студий."
        img="/img/dod.jpg"
        nerds="https://www.youtube.com/watch?v=pZzia5NrMuU"
    />
    <Event 
        name="Summer Game Fest Showcase"
        description="Главное игровое событие лета — фестиваль Джеффа Кили, который традиционно радует зрителей громкими анонсами. Здесь можно увидеть трейлеры, геймплейные демонстрации, послушать выступления разработчиков и узнать о новых проектах."
        img="/img/sgf.jpg"
        nerds="https://www.youtube.com/watch?v=pZzia5NrMuU"
    />
    <Event 
        name="Guerilla Collective"
        description="В рамках мероприятия, посвящённого инди-играм, ожидаются анонсы, трейлеры, премьеры геймплея и возможно что-то ещё."
        img="/img/guerrilla-collective-2024.jpg"
        nerds="https://youtu.be/pSVDh0zq5dc"
    />
    <Event 
        name="OTK Games Expo"
        description="Популярные блогеры и стримеры будут рекламировать свой мерч и, возможно, даже покажут игры."
        img="/img/otk.jpg"
        nerds="https://www.otkgamesexpo.com/games/years/2024"
    />
    <Event 
        name="INDIE3"
        description="На презентации будут представлены более 180 инди игр от независимых разработчиков. Будут показаны как новые проекты, так и обновления уже вышедших игр."
        img="/img/indie3.jpg"
        nerds="https://store.steampowered.com/curator/26397247/sale/BIGSummerShowcase2024"
    />
    <Event 
        name="Silent Hill Transmission"
        description="На презентации будут новости об играх — возможно, Bloober Team наконец объявит дату выхода ремейка Silent Hill 2. Так же ждем трейлер и дату релиза фильма «Возвращение в Сайлент Хилл»."
        img="/img/Silent-Hill-Transmission.jpg"
        nerds="https://www.youtube.com/watch?v=KUWjJ1zOxwo&t=895s&pp=ygUYU2lsZW50IEhpbGwgVHJhbnNtaXNzaW9u"
    />
    <Event 
        name="State of Play"
        description="На презентации Sony мы узнаем о 14 играх для PS5 и PS VR2, в том числе от внутренних студий. Особенно интересно будет послушать про игры, которые должны выйти в 2024 году."
        img="/img/sop.jpg"
        nerds="https://tirednerds.com/events/chto-pokazali-na-majskom-state-of-play-2024/"
    /> 
</div>

<!-- 2024-06-08T00:00:00+03:00 год-месяц-числоTчас:минуты:секунды+часовой пояс-->