---
import Event from "./Event.astro";
---

<div class="grid md:grid-cols-1 md:grid-rows-2 gap-4 mt-4">
    <Event 
        name="Future Games Show"
        description="Покажут более 50 тайтлов от 2K, Plaion, Nacon, Rebellion и других компаний. Шоу проводится в партнёрстве с Sid Meier's Civilization VII, поэтому зрителей также ждут два интервью с Firaxis Games."
        time="2024-08-21T23:00:00+03:00"
        img="/img/playstation-showcase.jpg"
        youtube="https://www.youtube.com/@FutureGamesShow"
        twitch=""
        nerds=""
    />
    <Event 
        name="PlayStation Showcase"
        description="Ждем новостей про PS5 Pro и анонса новых игр."
        time="Дата и время пока не известны"
        img="/img/playstation-showcase.jpg"
        youtube="https://www.youtube.com/@PlayStation"
        twitch=""
        nerds=""
    />
</div>

<!-- 2024-06-08T00:00:00+03:00 год-месяц-числоTчас:минуты:секунды+часовой пояс-->