---
import Event from "./Event.astro";
---

<div class="grid md:grid-cols-1 md:grid-rows-2 gap-4 mt-4">
    <Event 
        name="INDIE3"
        description="На презентации будут представлены более 180 инди игр от независимых разработчиков. Будут показаны как новые проекты, так и обновления уже вышедших игр."
        time="2024-06-04T18:00:00+03:00"
        img="/img/indie3.jpg"
        youtube="https://www.youtube.com/@ClemmyGames"
        twitch=""
        nerds=""
    />
    <Event 
        name="OTK Games Expo"
        description="Популярные блогеры и стримеры будут рекламировать свой мерч и, возможно, даже покажут игры."
        time="2024-06-04T22:00:00+03:00"
        img="/img/otk.jpg"
        youtube="https://www.youtube.com/otkchannel"
        twitch="https://www.twitch.tv/zackrawrr"
        nerds=""
    />
    <Event 
        name="Guerilla Collective"
        description="В рамках мероприятия, посвящённого инди-играм, ожидаются анонсы, трейлеры, премьеры геймплея и возможно что-то ещё."
        time="2024-06-06T20:00:00+03:00"
        img="/img/guerrilla-collective-2024.jpg"
        youtube="https://www.youtube.com/c/MediaIndieExchange"
        twitch="https://www.twitch.tv/mediaindieexchange"
        nerds=""
    />
    <Event 
        name="Summer Game Fest Showcase"
        description="Главное игровое событие лета — фестиваль Джеффа Кили, который традиционно радует зрителей громкими анонсами. Здесь можно увидеть трейлеры, геймплейные демонстрации, послушать выступления разработчиков и узнать о новых проектах."
        time="2024-06-08T00:00:00+03:00"
        img="/img/sgf.jpg"
        youtube="https://www.youtube.com/@thegameawards"
        twitch="https://www.twitch.tv/thegameawards"
        nerds=""
    />
    <Event 
        name="Day of the Devs"
        description="Double Fine Productions и iam8bit проводят презентацию инди- и среднебюджетных игр на фестивале Кили. На шоу представят лучшие проекты инди-сцены и самые перспективные разработки небольших студий."
        time="2024-06-08T01:30:00+03:00"
        img="/img/dod.jpg"
        youtube="https://www.youtube.com/@Iam8bit"
        twitch=""
        nerds=""
    />
    <Event 
        name="Devolver Digital"
        description="Готовьтесь к самой безбашенной презентации лета! Организаторы обещают «абсолютно нормальный эфир», где, конечно же, «не произойдёт ничего странного». Лично я надеюсь увидеть дополнение для Katana ZERO."
        time="2024-06-08T03:00:00+03:00"
        img="/img/dd.jpg"
        youtube="https://www.youtube.com/@DevolverDigital"
        twitch=""
        nerds=""
    />
    <Event 
        name="Future of Play Direct Season 5"
        description="Очередное шоу от инди-разработчиков, где нас ждут анонсы, трейлеры и витубер Melios the Android в роли ведущей. В программе — эксклюзивные анонсы от создателей Battle Chef Brigade, Parkitect, The Big Con, Unsighted и множество анонсов от других независимых студий."
        time="2024-06-08T18:00:00+03:00"
        img="/img/Future-of-Play-Direct-Season-5.jpg"
        youtube="https://www.youtube.com/heyglitch"
        twitch="https://www.twitch.tv/twitchgaming"
        nerds=""
    />
    <Event 
        name="Wholesome Direct"
        description="Вам мало инди? Тогда вот еще одно шоу посвященное играм с эмоциональной глубиной, которые вдохновляют оптимизмом, радостью и саморефлексией."
        time="2024-06-08T19:00:00+03:00"
        img="/img/Wholesome-Direct.jpg"
        youtube="https://www.youtube.com/WholesomeGames"
        twitch="http://www.twitch.tv/wholesome_games"
        nerds=""
    />
    <Event 
        name="Latin American Games Showcase"
        description="Более часа мировых премьер, эксклюзивных трейлеров и анонсов от латиноамериканских разработчиков игр!"
        time="2024-06-08T20:00:00+03:00"
        img="/img/Latin-American-Games-Showcase.jpg"
        youtube="https://www.youtube.com/@lagshowcase"
        twitch="https://www.twitch.tv/lagshowcase"
        nerds=""
    />
    <Event 
        name="Women-Led Games"
        description="Узнаем, что готовят студии под женским руководством! Эксклюзивные подробности и анонсы о дате выхода."
        time="2024-06-08T21:30:00+03:00"
        img="/img/women-led-games.jpg"
        youtube="https://www.youtube.com/@Women-LedGames"
        twitch="https://www.twitch.tv/pcgamer"
        nerds=""
    />
    <Event 
        name="Future Games Show: Summer Showcase"
        description="Презентации от GamesRadar, которая обещает поднять планку на новый уровень! Ожидается презентация более 40 игр."
        time="2024-06-08T22:00:00+03:00"
        img="/img/Future-Games-Show-Summer-Showcase.jpg"
        youtube="https://www.youtube.com/watch?v=1jXmyz452hs"
        twitch="https://www.twitch.tv/gamesradar"
        nerds=""
    />
    <Event 
        name="Xbox Games Showcase"
        description="В рамках мероприятия будут показаны игры от студий Microsoft, включая Activision, Blizzard, Bethesda и Xbox Game Studios, а также проекты от сторонних компаний. Так же расскажут и, надеюсь, покажут новую Колду."
        time="2024-06-09T20:00:00+03:00"
        img="/img/xbox-direct.jpg"
        youtube="https://www.youtube.com/user/xbox/hub"
        twitch="https://www.twitch.tv/Xbox"
        nerds=""
    />
    <Event 
        name="PC Gaming Show"
        description="PC Gamer уже в десятый раз организует свое собственное шоу посвященное играм. В честь этого юбилея обещают геймерам эксклюзивные анонсы и громкие мировые премьеры. Всего запланировано представить более 50 игр."
        time="2024-06-09T23:00:00+03:00"
        img="/img/PC-Gaming-Show.jpg"
        youtube="https://www.youtube.com/pcgamer"
        twitch="https://www.twitch.tv/pcgamer"
        nerds=""
    />
    <Event 
        name="WWDC 24"
        description="Ежегодная презентация от Apple, на которой компания должна показать очередные версии своих операционных систем, включая iOS 18, и новые устройства."
        time="2024-06-10T20:00:00+03:00"
        notime="май 2024"
        img="/img/wwdc24.jpg"
        youtube="https://www.youtube.com/channel/UC62IIuaPmV-KeuYmEaIZ0eQ"
        twitch="https://www.twitch.tv/ubisoft"
        nerds=""
    />
    <Event 
        name="Ubisoft Forward"
        description="Шоу от Ubisoft с новостями об играх, но пока официального списка проектов на презентации нет. Однако можно с уверенностью предположить, что нас ожидает новый трейлер Assassin’s Creed Shadows."
        time="2024-06-10T22:00:00+03:00"
        notime="май 2024"
        img="/img/ubisoft-forward.jpg"
        youtube="https://www.youtube.com/channel/UC62IIuaPmV-KeuYmEaIZ0eQ"
        twitch="https://www.twitch.tv/ubisoft"
        nerds=""
    />
    <Event 
        name="THQ Nordic Digital Showcase"
        description="THQ Nordic готовит собственную презентацию. На шоу покажут ремейк Gothic и Titan Quest II, анонсированную в прошлом году. Также стоит ожидать новости о других продуктах издателя."
        time="2024-08-02T22:00:00+03:00"
        img="/img/thq-nordic-digital-showcase.jpg"
        youtube="https://www.youtube.com/thqnordic"
        twitch="https://www.twitch.tv/thqnordic"
        nerds=""
    />
    <Event 
        name="gamescom Opening Night Live"
        description="Одна из крупнейших офлайн-выставок индустрии традиционно начинается с церемонии открытия, которую будут транслировать в сети. Подробной программы пока нет, но офлайн-часть пройдёт с 21 по 25 августа."
        time="2024-08-20T00:01:00+03:00"
        img="/img/gamescom-opening-night-live.jpg"
        youtube="https://www.youtube.com/@gamescom1230"
        twitch=""
        nerds=""
    />
    <Event 
        name="Nintendo Direct"
        description="«Большая N» собирается представить свои игры на очередной презентации. Пока известно только о демонстрации проектов для Nintendo Switch. А вот анонса Switch 2 ждать не стоит."
        time="Дата и время пока не известны"
        img="/img/nintendo-direct.jpg"
        youtube="https://www.youtube.com/@NintendoAmerica"
        twitch=""
        nerds=""
    />
    <Event 
        name="PlayStation Showcase"
        description="Ждем новостей про PS5 Pro и анонса новых игр."
        time="Дата и время пока не известны"
        img="/img/playstation-showcase.jpg"
        youtube="https://www.youtube.com/@PlayStation"
        twitch=""
        nerds=""
    />
</div>

<!-- 2024-06-08T00:00:00+03:00 год-месяц-числоTчас:минуты:секунды+часовой пояс-->