---
import Event from "./Event.astro";
---

<div class="grid md:grid-cols-1 md:grid-rows-2 gap-4 mt-4">
    <Event 
        name="PlayStation Showcase"
        description="Ждем новостей про PS5 Pro и анонса новых игр."
        time="Дата и время пока не известны"
        img="/img/playstation-showcase.jpg"
        youtube="https://www.youtube.com/@PlayStation"
        twitch=""
        nerds=""
    />
</div>

<!-- 2024-06-08T00:00:00+03:00 год-месяц-числоTчас:минуты:секунды+часовой пояс-->